
:root {
    --darkGray: #2c2c2c;
}

/* For Menu */

#header a {
    font-size: 18px;
}


/* For Landing */

#sidebarBtn {
    position: fixed;
}

#landingDiv {
    height: 100vh;
    background-color: var(--darkGray);
    padding: 1%;
}

#landingContent {
    padding: 11%;
}

#welcomeTextDiv {
    padding-top: 15%;
}

#welcomeText {
    font-size: 90px;
    line-height: 80px;
    color: white;
}

/* For about me */

#aboutMeH2 {
    text-align: center;
}

#aboutMeH2 h2 {
    font-size: 3em;
}

#aboutMeDiv {
    height: 100vh;
}

#aboutMeContent {
    padding-left: 15%;
    padding-right: 15%;
}

#skillsSection {
    background-color: rgb(145, 145, 145);
    border: solid 3px black;
    border-radius: 10px;
}

.ldBar path.mainline {
    stroke: rgb(230, 205, 66);
    stroke-linecap: round;
    stroke-width: 5;
  }
 


/* For projects */

#projectsDiv {
    height: 100vh;
    background-color: rgb(107, 107, 107);
}

#projectsContent {
    padding: 12%;
}

.splideCard {
    height: 60vh;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
}

#splideCardTyrs {
    height: 60vh;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20%;
}

#splideCardTyrs:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

/* .tyrsBtn {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;   
} */


#splideCardBlog {
    height: 60vh;
    background-image: url('../imgs/Tech\ blog\ screenshot\ .png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
}


.projectModal {
    height: 75vh;
}

.modalImg {
    height: 70%;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    -webkit-filter: brightness(50%);
    margin-left: .2%;
    margin-right: .2%;
}

.modalContent {
    padding: 2%;
}

.titleLink {
    color: black;
    font-size: 24px;

}