
:root {

}

/* For Menu */

#header a {
    font-size: 18px;
}


/* For Landing */

#sidebarBtn {
    position: fixed;
}

#landingDiv {
    height: 100vh;
    background-color: rgb(102, 102, 102);
    padding: 1%;
}

#landingContent {
    padding: 11%;
}

#welcomeTextDiv {
    padding-top: 18%;
}

#welcomeText {
    font-size: 70px;
}

/* For about me */

#aboutMeDiv {
    height: 100vh;
}

#aboutMeContent {
    padding: 12%;
}

/* For projects */

#projectsDiv {
    height: 100vh;
    background-color: rgb(107, 107, 107);
}

#projectsContent {
    padding: 12%;
}

.splideCard {
    height: 60vh;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
}

#splideCardTyrs {
    height: 60vh;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20%;
}

#splideCardTyrs:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

/* .tyrsBtn {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;   
} */


#splideCardBlog {
    height: 60vh;
    background-image: url('../imgs/Tech\ blog\ screenshot\ .png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
}


.projectModal {
    height: 75vh;
}

.modalImg {
    height: 70%;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    -webkit-filter: brightness(50%);
    margin-left: .2%;
    margin-right: .2%;
}

.modalContent {
    padding: 2%;
}

.titleLink {
    color: black;
    font-size: 24px;

}