:root {
    --darkGray: #121212;
    --purple: #6a1a99;
    --lightpurple: #d042f8;
    --brightPink: #f10983;
    --lightBlue: #2dcbdc;
    font-family: 'Bangers', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tillana', cursive;
    font-family: 'Turret Road', cursive;
}

/* For Menu */

#header a {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

#header h1 {
    /* border: solid var(--brightPink);
    border-width: 0px 0px 3px 0px; */
}

/* For Landing */

#landingContant a {
    color: rgb(43, 177, 16);
}

#sidebarBtn {
    position: fixed;
}

#landingDiv {
    height: 100vh;
    background-image: url('../imgs/new\ portfolio\ wallapepr\ 1.jpg');
    padding: 1%;
    background-size: cover;
}

#landingContent {
    padding: 11%;
}

#welcomeTextDiv {
    padding-top: 8%;
}

#welcomeTextColumn {
    padding-top: 6%;
    color: white;
}

#welcomeText {
    font-size: 90px;
    line-height: 80px;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

@keyframes bounceDiv {
    0% { transform: translateY(7.5%);}
    50% {transform: translateY(0);}
    100% {transform: translateY(7.5%);}
}

#typedTextDiv {
    width: 100%;
    background-color: #000000;
    padding-top: 0px;
    padding-left: 3px;
    padding-right: 3px;
    border: solid black;
    border-radius: 10px;
    box-shadow: rgba(208, 66, 248, .6) 5px 5px, rgba(208, 66, 248, .45) 10px 10px, rgba(208, 66, 248, .2) 15px 15px;
    animation-timing-function: ease-in-out;
    animation: bounceDiv 4s infinite;
}


#typedDivHeader {
    border: solid black;
    border-width: 2px 2px 3px 2px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

#typedDivHeader h4 {
    /* color: var(--lightpurple); */
}

#typedDivHeader i {
    /* color: var(--lightpurple); */
}

#typedDivContent {
    height: 100%;
}

#typedDivContentH3 {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

#colorTyped {
    color: #58e02f;
}

#afterTypedLoad {
    color: white;
    font-family: 'Source Code Pro', monospace;
    margin-top: 0%;
}

/* For about me */

#aboutMeH2 {
    text-align: center;
}

#aboutMeH2 h2 {
    font-size: 3em;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

#aboutMeDiv {
    height: 100vh;
    background-color: #121212;
}

#aboutMeContent {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}

#pictureAbout {
    padding-top: 4%;
}

#skillsSection {
    background-color: rgb(145, 145, 145);
    border: solid 3px black;
    border-radius: 10px;
}

.topSkillsColumn {}

/* .ldBar path.mainline {
    stroke: rgb(230, 205, 66);
    stroke-linecap: round;
    stroke-width: 5;
  }

/* For each ldBar animation */


/* .favSkills {
    opacity: 0;
    transform: translateY(50%);
    transition: all .5s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.favSkills:nth-child(2)  {
    transition-delay: 200ms;
}

.favSkills:nth-child(3) {
    transition-delay: 400ms;
}

.favSkills:nth-child(4)  {
    transition-delay: 600ms;
}

.show {
    opacity: 1;
    transform: translateY(0);
} */

#pictureAbout {
    height: 50vh;
}

#skillsDiv {
    text-align: center;
}

#skillsDiv h4 {
    font-size: 30px;
}

#topIconGrid {
    width: 100%;
    margin-left: 6%;
}

#bottomIconGrid {
    width: 100%;
}


/* For projects */

#projectsDiv {
    height: 100vh;
    background-color: rgb(107, 107, 107);
}

#projectsContent {
    padding: 12%;
}

.splideCard {
    height: 60vh;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
}

#splideCardTyrs {
    height: 60vh;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20%;
}

/* #splideCardTyrs:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
} */

/* .tyrsBtn {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;   
} */


#splideCardBlog {
    height: 60vh;
    background-image: url('../imgs/Tech\ blog\ screenshot\ .png');
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
}


.projectModal {
    height: 75vh;
}

.modalImg {
    height: 70%;
    background-image: url('../imgs/tyrs\ vault\ screenshot.png');
    background-size: cover;
    -webkit-filter: brightness(50%);
    margin-left: .2%;
    margin-right: .2%;
}

.modalContent {
    padding: 2%;
}

.titleLink {
    color: black;
    font-size: 24px;

}